# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml
*.cover

# Output sdf or pdb files
examples/top_hits_ph_1.pdb
examples/top_hits_ph_1.sdf
examples/top_hits_ph_2.pdb
examples/top_hits_ph_2.sdf
examples/paracetamol_hits.sdf
examples/top_hits_phenol_excl.sdf
examples/top_hits_phenol_excl.pdb
examples/phenol_with_excl.pdb
examples/pharmacophore.*

# Type checkers / linters
.mypy_cache/
.ruff_cache/
.pyre/

# Environments
.venv/
venv/
env/
ENV/

# Editors / OS
.DS_Store
.idea/
.vscode/
